@use "../mixins" as *;

.header {
  $header: &;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 0 0;

  @media (min-width: 768px) {
    padding: 45px 0 0;
  }

  &__inner {
    @include container;

    #{$header}__logo {
      width: 59px;
      height: 51px;
    }
  }
}
