@use "../variables" as *;
@use "../mixins" as *;

.movie-overview {
  $mo: &;
  @include container-sm;
  margin-top: -80px;
  margin-bottom: 100px;

  &__cards {
    display: grid;
    gap: 20px;
    padding-bottom: 60px;
    grid-template-columns: 1fr;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 80px;
      gap: 30px;
    }

    &__card {
      $card: &;
      cursor: pointer;
      position: relative;
      aspect-ratio: 1/1.486;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: $color-dark;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);

      &__img {
        z-index: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &__el {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
          transition: opacity 0.3s $transition-standard,
            scale 0.3s $transition-standard;

          &--loaded {
            opacity: 1;
          }
        }

        &::after {
          position: absolute;
          content: "";
          inset: 0;
          width: 100%;
          height: 100%;
          background-image: radial-gradient(
            50% 100%,
            rgba(14, 14, 14, 0) 0%,
            $color-dark 100%
          );
        }
      }

      &__inner {
        z-index: 2;
        padding: 30px;

        #{$card}__tags {
          display: inline-block;
          margin-top: 10px;
        }

        .rating {
          margin-top: 14px;
        }
      }

      &:hover {
        #{$card}__img {
          #{$card}__img__el {
            scale: 1.1;
          }
        }
      }
    }
  }
}
