@use "../variables" as *;
@use "../typography" as *;

.rating {
  $rating: &;
  display: flex;
  align-items: flex-end;
  column-gap: 14px;

  &__hearts {
    display: flex;
    gap: 4px;

    &__heart {
      $heart: &;
      width: 16px;
      height: 14.7px;

      &:not(#{$heart}--fill) {
        opacity: 0.2;
      }

      &--fill {
        #{$heart}__inner {
          fill: $color-primary;
        }
      }
    }
  }

  &__value {
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    @include font-title;
  }
}
