@use "./variables" as *;
@use "./typography" as *;

@mixin container-styles {
  margin: 0 auto;
  width: 100%;
}

@mixin container {
  @include container-styles;
  max-width: calc(1600px - (2 * 215px) + 60px);
  padding: 0 30px;
}

@mixin container-sm {
  @include container;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

@mixin button-styles {
  @include font-title;
  height: 56px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50vw;
  outline: none;
  color: #fff;
  transition: background-color 0.2s $transition-standard,
    transform 0.2s $transition-standard;

  &:active {
    transform: scale(0.95);
  }
}
