@font-face {
  font-family: "Galano Grotesque";
  src: url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-ExtraBold.woff2")
      format("woff2"),
    url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-ExtraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Galano Grotesque", sans-serif;
  font-weight: 800;
  font-style: normal;
}
