@font-face {
  font-family: "Galano Grotesque";
  src: url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Galano Grotesque";
  src: url("./assets/fonts/GalanoGrotesque/GalanoGrotesque-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/**
The Only Newzald Font I was able to find withouh a licence
*/
@font-face {
  font-family: "Newzald";
  src: url("./assets/fonts/Newzald/TestNewzald-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@mixin font-title {
  font-family: "Galano Grotesque", sans-serif;
  letter-spacing: 0;
  line-height: 1;
}

@mixin font-body {
  font-family: "Newzald", sans-serif;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title;
}

.h1 {
  font-size: 3.75rem;

  @media (min-width: 768px) {
    font-size: 5.625rem;
  }
}

.h3 {
  font-size: 1.5rem;
}

// Default
html {
  @include font-body;
  font-weight: 700;
  font-style: normal;
}
